/* Typography Base
   ========================================================================== */
h1, h2,h3, h4, h5, h6 {
  font-family: $alfa-slab;
}

h1 {
  @include relative-converter-rem(font-size, rem, $xx-large, 16);
}

h2 {
  @include relative-converter-rem(font-size, rem, $x-large, 16);
}

h3 {
  @include relative-converter-rem(font-size, rem, $large, 16);
}

p {
  font-family: $open-sans;
  @include relative-converter-rem(font-size, rem, $medium, 16);
  line-height: 25px;
}

small {
  font-family: $open-sans;
  @include relative-converter-rem(font-size, rem, $small, 16);
}
