/* Header Layout
 ========================================================================== */
.header {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header {
    display: inline-block;
    width: 100%;
  }
}
