/* Hero Section
 ========================================================================== */
 .hero-section__featured-image {
  background-image: url(../images/main-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__main-content {
  padding: 1.3em 3em;

  h1 {
    margin: 0;
    @include relative-converter-rem(font-size, rem, 45, 16);

  }

  p {
    padding-top: .5rem;
  }

  .hero-section__button {
    padding-top: 16px;
  }
}

.hero-section__info_small,
.hero-section__info_medium  {
  a {
    font-family: $alfa-slab;
    @include relative-converter-rem(font-size,rem,$large,16);
  }

  p {
    padding-top: 10px;
  }
}

.hero-section__info_small {
  background-color: $pearl-aqua;

  a {
    color: $black;

    &:hover {
      color: $white;
    }
  }
}

.hero-section__info_medium {
  background-color: $raspberry-pink;

  a {
    color: $white;

    &:hover {
      color: $black;
    }
  }

  p {
    color: $white;
  }
}

/* History & About Sections
 ========================================================================== */
.history-section,
.about-section {
  padding: 1.3em 3em; 

  h2 {
    @include relative-converter-rem(font-size, rem, 30, 16);
  }
}

.history-section__content,
.about-section__content {
  padding-top: 1em;

  p {
    padding: 1em;
  }
}

.about-section {
  background-color: $raspberry-pink;
  color: $white;
}


/* News Section
 ========================================================================== */
.news-section {
  padding: 2em 3em .5em 3em;
  background-color: $pearl-aqua;

  h2 {
    padding-bottom: .5em;
    color: $white;
  }
}



 @media only screen and (min-width: 1200px) {

  .hero-section__featured-image {
    @include relative-converter-rem(height, em, 700, 16);
  }

  .hero-section__main-content {
    @include relative-converter-rem(height, em, 500, 16);
    padding: 80px 110px;
  }
  
  .hero-section__info_small,
  .hero-section__info_medium  {
    @include relative-converter-rem(height, em, 200, 16);
    padding: 50px 30px;
    width: 40%;

    p {
      padding-top: 10px;
    }
  }
  
  .hero-section__info_medium {
    width: 60%;
    display: inline-block;
    padding-left: 80px;
  }
  
  /* History Section
   ========================================================================== */
  .history-section {
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .history-section__image {
    width: 30%;
  
    img {
      height: 400px;
    }
  }
  
  .history-section__content {
    display: inline-block;
    width: 70%;
    padding-top: 10px;
    padding-right: 200px;
  
    p {
      padding-top: 10px;
      padding-right: 100px;
    }
  }
  
  .history-section__button {
    padding-top: 10px;
  }
  
  /* About Section
   ========================================================================== */
  .about-section {
    @include relative-converter-rem(height, em, 500, 16);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .about-section__content {
  
    width: 50%;
    padding-top: 10px;
  
    p {
      padding-top: 10px;
      padding-right: 50px;;
    }
  }
  
  .about-section__button {
    padding-top: 10px;
  }
  
  .about-section__image {
    padding-left: 60px;
  
    width: 50%;
  
    img {
      @include relative-converter-rem(width, em, 500, 16);
    }
  }
  
  /* Gallery Section
   ========================================================================== */
  .gallery-section {
    height: 400px;
    padding-top: 50px;
    text-align: center;
  }
  
  .gallery-section__wrapper {
    display: inline-block;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .gallery-section__image {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  
    img {
      height: 200px;
    }
  }
  
  /* News Section
   ========================================================================== */
  .news-section {
    height: 650px;
    padding-top: 50px;
    padding-left: 50px;
  
    h2 {
      text-align: center;
    }
  }
  
}
